html,body {
    margin: 0;
    overflow: hidden ;
    font-family: Archivo;
    user-select: none;
    background-color: rgb(49, 49, 49);
    scrollbar-color: rgb(147, 230, 22, .5) transparent;
}

html,body::selection {
    background-color: rgba(147, 230, 22, .5);
}

#editor-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#editor {
    width: 100%;
    height: 100%;
    background-color: rgb(31, 31, 31);
}

#top-bar {
    background-color: rgb(77, 77, 77);
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#stage {
    width: auto;
    height: 50vh;
    aspect-ratio: 16/9;
    outline-width: 1px;
    outline-color:rgb(43, 43, 43);
    outline-style: solid;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#code:focus {   
    outline: none;
}

.topbar-item {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(77, 77, 77);
    transition: .1s;
    color: white;
}

.topbar-item:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.topbar-item:active {
    transform: scale(.95);
    filter: brightness(.9);
}

#right-wrapper {
    height: 100%;
    width: fit-content;
    margin-left: auto;
}

#action-bar {
    width: 100%;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: -10px;
    height: fit-content;
    padding: 5px;
}

.action-bar-button {
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: fit-content;
    height: 15px;
}

.action-bar-button:hover {
    background-color: rgba(128, 128, 128, 0.301);
    cursor: pointer;
    transition: .1s;
}

.action-bar-button:active {
    transform: scale(.95);
    filter: brightness(.9);
}

#run {
    width: fit-content;
    padding-left: 13px;
    padding-right: 13px;
}

#run * {
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
}

#sprites {
    background-color: rgb(82, 82, 82);
    width: fill;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    padding: 10px;
    height: 20%;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.sprite {
    background-color: rgb(110, 110, 110);
    width: 50px;
    max-width: 50px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 50px;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

.sprite [selected="true"] {
    max-width: fit-content;
}

.tab[selected="true"] {
    background-color: rgb(129, 204, 18) !important;
    margin-top: 0;
    transition: 0;
}

.sprite[selected="true"] {
    background-color: rgb(129, 204, 18) !important;
    outline-width: 3px;
    outline-color: rgba(147, 230, 22, .5) ;
    outline-style: solid;
}

.texture-card[selected="true"] {
    background-color: rgb(41, 41, 41) !important;
    outline-width: 3px;
    outline-color: rgba(147, 230, 22, .5);
    outline-style: solid;
}

.texture-title[selected="true"] {
    background-color: rgb(129, 204, 18) !important;
}


#new-sprite {
    position: absolute;
    z-index: 200;
    background-color: rgb(129, 204, 18);
    right: 10px;
    bottom: 10px;
    color: white;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 200px;
    cursor: pointer;
}

#new-texture {
    position: absolute;
    z-index: 200;
    background-color: rgb(129, 204, 18);
    left: 10px;
    bottom: 10px;
    color: white;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 200px;
    cursor: pointer;
}

#new-sprite * {
    width: 100%;
    height: 100%;
}

#new-texture * {
    width: 100%;
    height: 100%;
}

#left-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#tabs {
    width: 100%;
    height: 30px;
    background-color: rgb(54, 54, 54);
    display: flex;
    gap: 5px;
    padding-left: 10px;
}
.tab {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    margin-top: 5px;
    padding-top: 2px;
    transition: .2s;
}

.tab:active{
    filter: brightness(.9);
}

#textures {
    height: 100%;
    background-color: rgb(31, 31, 31);
    display: none;
}

#textures [selected="true"] {
    margin-top: 10px;
}

#audio {
    height: 100%;
    background-color: rgb(85, 85, 85);
    color: rgb(190, 190, 190);
    padding: 5px;
    display: none;
}

#properties {
    background-color: rgb(82, 82, 82);
    width: fill;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    padding: 10px;
    height: 50px;
    flex-wrap: wrap;
}

.texture-card {
    background-color: rgb(107, 107, 107);
    padding: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    transition: .1s;
}

.texture-image {
    height: 70%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    filter: drop-shadow(2px 5px 4px #0000003d);
}

.texture-title {
    color: white;
    background-color: rgb(73, 73, 73);
    margin: -10px;
    padding-bottom: 3px;
    padding-top: 1px;
    margin-top: 3px;
}

.sprite-property {
    display: flex;
    color: white;
}

#texture-list {
    background-color: rgb(49, 49, 49);
    width: fit-content;
    height: 100%;
    padding-top: 10px;
}

.sprite-image {
    width: 70%;
    height: auto;
    max-height: 70%;
    margin-bottom: -15px;
    filter: drop-shadow(2px 5px 4px #0000003d);
}

#texture-editor {
    width: 100%;
    height: 100%;
    background-color: rgb(44, 44, 44);
    background-image: url('assets/texture-editor/grid.png');
    overflow: hidden;
}

#texture-preview {
    width: 50%;
    max-height: 50%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

input {
    background-color: rgb(48, 48, 48);
    margin: 10px;
    width: 50px;
    border: none;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(147, 230, 22, 0.103);
    color: white;
    border-radius: 5px;
    transition: .1s;
}

input:focus {
    outline-style: solid;
    outline-width: 3px;
    outline-color: rgba(147, 230, 22, .5);
}

#console {
    width: 100%;
    height: 14%;
    background-color: rgb(8, 8, 8);
    color: rgb(199, 27, 27);
    overflow-y: scroll;
}

#code-pane {
    width: 100%;
    height: 100vh;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 230, 22, .5);
    backdrop-filter: blur(10px);
    z-index: 99999;
    top: 0;
    left: 0;
    text-align: center;
}

.loading-title {
    color: white;
    margin-top: 20%;
    font-family: Archivo;
    font-size: 50px;
    font-weight: 800;
    text-shadow: rgb(253, 253, 253) 0px 0px 40px;
}

#loading-screen[done='true'] {
    filter: opacity(0);
    transition: .2s;
}

#code {
    color: white;
    height: 100%;
    width: calc(100%-10px);
    flex-grow: 1;
    transition: .2s;
}

#codeblocks {
    width: 200px;
    height: 100%;
    background-color: rgb(46, 46, 46);
    flex-grow: 0;
    color: white;
    transition: .2s;
}

#code-pane-divider {
    width: 100%;
    height: 80%;
    display: flex;
}

#toggle-codeblocks {
    background-color: rgb(58, 58, 58);
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    margin-left: auto;
}

#codeblocks[hide='true'] {
    transform: translateX(0);
}

#codeblocks[hide='false'] {
    transform: translateX(-160px);
}

#codeblock-toggle-icon {
    width: 70%;
    height: 70%;
    margin-top: 7px;
    margin-left: 7px;
    cursor: pointer;
}

#codeblock-toggle-icon[hide='false'] {
    src: url('assets/codeblocks/bar/open.svg');
}

#codeblock-toggle-icon[hide='true'] {
    src: url('assets/codeblocks/bar/close.svg');
}

#codeblock-title {
    width: 100%;
    display: flex;
}

.codeblock-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

#code[hide='false'] {
    transform: translateX(-160px);
    width: calc(100% - 10px);
}

#code[hide='true'] {
    width: calc(100% - 10px);
}